<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cloud</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
</head>

<body>
    <div id="app" class="container">
        <div v-if="!user">
            <input type="text" name="username" placeholder="Username" v-model="loginForm.username">
            <input type="password" name="password" placeholder="Password" v-model="loginForm.password">
            <input type="submit" value="Login" v-on:click.prevent="loginUser()">
        </div>

        <div v-if="user">
            {% for object in user.profile.file.all %}
            <p>{{ object.info }}</p>
            {% endfor %}
            <!--<div v-for='(<Whatever_1>, <Whatever_2>) in <data>' :key='<Whatever_2>'></div>-->
            <input type="submit" value="Logout" v-on:click.prevent="logoutUser()">
        </div>
    </div>

    <script>
        //const CSRF_TOKEN = document.querySelector("input[name='csrfmiddlewaretoken']").value;
        var app = new Vue({
            el: "#app",
            delimiters: ['[[', ']]'],
            data: {
                loginForm: {
                    username: "",
                    password: "",
                },
                user: null,
            },
            methods: {
                loginUser() {
                    var self = this;
                    console.log(this.loginForm);
                    axios.post('/rest-auth/login/', this.loginForm)
                        .then(resp => {
                            console.log(resp);
                            self.token = resp.data.key;
                            axios.get('/rest-auth/user/', {
                                    headers: {
                                        "Authorization": 'Token ' + resp.data.key,
                                    }
                                }).then(dresp => {
                                    this.user = dresp.data.username
                                    axios.get('/api/File/', {
                                        headers: {
                                            "Authorization": 'Token ' + resp.data.key,
                                        }
                                    }).then(eresp => {
                                        console.log(eresp);
                                    });
                                    this["file"] = 'test'
                                    console.log(this.file);

                                }).catch(derr => {
                                    console.log(derr);
                                })
                                .catch(err => {
                                    console.log(err);
                                });
                        }).catch(zerr => {
                            console.log(zerr);
                            console.log(self.loginForm);
                        })
                },
                logoutUser() {
                    axios.post('/rest-auth/logout/', {}, {
                        headers: {
                            "Authorization": 'Token ' + this.token,
                        }
                    }).then(resp => {
                        this.user = null
                        console.log(this.user);
                    })
                },
            }
        })
    </script>
</body>

</html>